<h1>Welcome - what shall be done today?</h1>
<br style="margin: 1%">
<div style="display: flex; flex-direction: row; width: 95%; justify-content: flex-start;">

    <button mat-button routerLink="/locations">
        <h2>Locations Management</h2>
        <img class="button-image" src="assets/icons/home_work-black-48dp.svg">
        <p class="button-paragraph">Add locations for customers & depots on an interactive map.</p>
    </button>

    <button mat-button routerLink="/orders-and-tours">
        <h2>Orders and Tour-Planning</h2>
        <img class="button-image" src="assets/icons/person_pin_circle-black-48dp.svg">
        <p class="button-paragraph">Issue orders and plan optimized tours for deliveries.</p>
    </button>

    <button mat-button routerLink="/trucks">
        <h2>Trucks and Deliveries</h2>
        <img class="button-image" src="assets/icons/local_shipping-black-48dp.svg">
        <p class="button-paragraph">Always focus on the front windshield and not the review mirror.</p>
    </button>

</div>